Would you like to merge the config from the existing psad installation:        n;
Preserve any user modfications in etc psad signatures:        y;
Preserve any user modfications in etc psad icmp_types:        y;
Preserve any user modfications in etc psad icmp6_types:        y;
Preserve any user modfications in etc psad posf:        y;
Preserve any user modfications in etc psad auto_dl:        y;
Preserve any user modfications in etc psad snort_rule_dl:        y;
Preserve any user modfications in etc psad pf os:        y;
Preserve any user modfications in etc psad ip_options:        y;
Would you like alerts sent to a different address:        y;
Email addresses:        root@localhost;
Would you like psad to only parse specific strings in iptables messages:        n;
First is it ok to leave the HOME_NET setting as any:        y;
Would you like to enable DShield alerts:        n;
Would you like to install the latest signatures from http www cipherdyne org psad signatures:        n;
Enable psad at boot time:        y;
