[Unit]
Description=The Port Scan Attack Detector (psad)
Documentation=man:psad(8) https://www.cipherdyne.org/psad/

[Service]
Type=forking
ExecStart=/usr/sbin/psad
ExecStop=/usr/sbin/psad --Kill
ExecReload=/usr/sbin/psad --HUP
PIDFile=/var/run/psad/psad.pid

[Install]
WantedBy=multi-user.target
